@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
    /* 0 20 40 60 80 100 */
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0.2;
    }
    40% {
        opacity: 0.4;
    }
    60% {
        opacity: 0.6;
    }
    80% {
        opacity: 0.7;
    }

}

.animate-fadeIn {
    animation: fadeIn 1s ease-in-out;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
img{
    max-width: 100%;
    max-height: 100%;
}